.bg-verde {
    background-color: green;
    text-align: center;
    margin-top: 1rem;
}

.bg-amarillo{
    background-color: rgb(255, 170, 0);
    text-align: center;
}

.bg-rojo {
    background-color: red;
    text-align: center;
}